form{
    display: flex;
    padding: 3px 0px 5px 0px;
}

.textInput{
    flex: 10;
    padding: 3px;
}

.submitBtn{
    flex: 2;
    margin: 0px 2px  0px; 
}

.delBtn{
    flex: 2;
    background-color: lightcoral;
    margin: 0px 2px  0px; 
}